<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineLibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Authentication</display-name>
    <servlet-name>Login_Authentication</servlet-name>
    <servlet-class>in.co.init.OLM.authentication.Login_Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Authentication</servlet-name>
    <url-pattern>/authentication/Login_Authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issue</display-name>
    <servlet-name>Issue</servlet-name>
    <servlet-class>in.co.init.OLM.user.Issue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue</servlet-name>
    <url-pattern>/User/Issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Return</display-name>
    <servlet-name>Return</servlet-name>
    <servlet-class>in.co.init.OLM.user.Return</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Return</servlet-name>
    <url-pattern>/User/Return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Return_Book</display-name>
    <servlet-name>Return_Book</servlet-name>
    <servlet-class>in.co.init.OLM.user.Return_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Return_Book</servlet-name>
    <url-pattern>/User/Return_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadUserReport</display-name>
    <servlet-name>DownloadUserReport</servlet-name>
    <servlet-class>in.co.init.OLM.user.DownloadUserReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadUserReport</servlet-name>
    <url-pattern>/User/DownloadUserReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadBookReport</display-name>
    <servlet-name>DownloadBookReport</servlet-name>
    <servlet-class>in.co.init.OLM.admin.DownloadBookReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadBookReport</servlet-name>
    <url-pattern>/Admin/DownloadBookReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadIssueHistory</display-name>
    <servlet-name>DownloadIssueHistory</servlet-name>
    <servlet-class>in.co.init.OLM.admin.DownloadIssueHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadIssueHistory</servlet-name>
    <url-pattern>/Admin/DownloadIssueHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>in.co.init.OLM.authentication.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/User/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadIssueBookHistory</display-name>
    <servlet-name>DownloadIssueBookHistory</servlet-name>
    <servlet-class>in.co.init.OLM.admin.DownloadIssueBookHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadIssueBookHistory</servlet-name>
    <url-pattern>/Admin/DownloadIssueBookHistory</url-pattern>
  </servlet-mapping>
</web-app>